/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default styles on links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.heading--primary {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #1E1D1D;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .heading--primary {
    font-size: 6rem;
  }
}
@media screen and (max-width: 700px) {
  .heading--primary {
    font-size: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--primary {
    font-size: 2rem;
  }
}

.heading--secondary {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #1E1D1D;
  line-height: 1.5;
}
@media screen and (max-width: 1440px) {
  .heading--secondary {
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .heading--secondary {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .heading--secondary {
    font-size: 1.5rem;
  }
}

.body--main {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #1E1D1D;
}
@media screen and (min-width: 1450px) {
  .body--main {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1440px) {
  .body--main {
    font-size: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .body--main {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .body--main {
    font-size: 1.5rem;
  }
}

.body--bold {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 700;
  color: #1E1D1D;
}
@media screen and (min-width: 1450px) {
  .body--bold {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1440px) {
  .body--bold {
    font-size: 3rem;
  }
}
@media screen and (max-width: 700px) {
  .body--bold {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .body--bold {
    font-size: 1.5rem;
  }
}

.cta__txt {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 900;
}
@media screen and (max-width: 1440px) {
  .cta__txt {
    font-size: 7.5rem;
  }
}
@media screen and (max-width: 700px) {
  .cta__txt {
    font-size: 7.5rem;
  }
}
@media screen and (max-width: 480px) {
  .cta__txt {
    font-size: 4.5rem;
  }
}

.nav__links {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 900;
}
@media screen and (max-width: 1440px) {
  .nav__links {
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .nav__links {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .nav__links {
    font-size: 1.5rem;
  }
}

.pricing__price--txt {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 3rem;
}

.pricing__features--txt {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 24px;
  font-weight: 400;
}

.pricing__card--title {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.25rem;
}

.button__txt {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 2.5rem;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.button--primary {
  display: inline-block;
  width: 15rem;
  text-decoration: none;
  border-radius: 100rem;
  padding: 1rem 2.25rem;
  text-align: center;
  transition: all 0.3s ease;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #1E1D1D;
  background: #FFFFFF;
}
.button--primary:hover {
  background: #ebebeb;
  transform: translateX(0rem) translateY(-0.3125rem);
}
.button--primary:active {
  background: #bfbfbf;
  transform: translateX(0rem) translateY(0.125rem);
}

.button--secondary {
  display: inline-block;
  width: 15rem;
  text-decoration: none;
  border-radius: 100rem;
  padding: 1rem 2.25rem;
  text-align: center;
  transition: all 0.3s ease;
  color: #FFFFFF;
  background: #501EC4;
}
.button--secondary:hover {
  background: #4219a1;
  transform: translateX(0rem) translateY(-0.3125rem);
}
.button--secondary:active {
  background: #230d55;
  transform: translateX(0rem) translateY(0.125rem);
}

.button--full-width {
  display: inline-block;
  width: 15rem;
  text-decoration: none;
  border-radius: 100rem;
  padding: 1rem 2.25rem;
  text-align: center;
  transition: all 0.3s ease;
  display: block !important;
  width: 100% !important;
}

.nav {
  color: #FFFFFF;
  background-color: #1E1D1D;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}
.nav__container {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .nav__container {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .nav__container {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.nav__logo {
  padding-bottom: 2rem;
  border-bottom: 0.5rem solid white;
}
.nav__main {
  list-style: none;
  padding: 0rem;
  margin: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.nav__link {
  transition: all 0.3s ease;
}
.nav__link:hover {
  text-decoration: underline;
  color: #501EC4;
}
.nav__link:active {
  text-decoration: underline;
  color: #501EC4;
  transform: translateX(0rem) translateY(0.225rem);
}

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 9.5rem;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    margin-bottom: 2rem;
  }
}
.hero__img {
  width: 100%;
  transition: all 0.3s ease;
}
.hero__img:hover {
  filter: sepia(77%);
}

.info {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 9.5rem;
}
@media screen and (max-width: 992px) {
  .info {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .info {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .info {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .info {
    margin-bottom: 2rem;
  }
}
.info__txt {
  padding-left: 10rem;
  padding-right: 10rem;
}
.info__txt:first-child {
  margin-bottom: 6rem;
}

.benefits {
  margin-bottom: 9.5rem;
  background-color: #1E1D1D;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .benefits {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits {
    margin-bottom: 2rem;
  }
}
.benefits__container {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
}
@media screen and (max-width: 992px) {
  .benefits__container {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits__container {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.benefits__card {
  border: 10px solid #FFFFFF;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
}
.benefits__card:first-child {
  margin-top: 0rem;
}
.benefits__card:last-child {
  margin-bottom: 0rem;
}
.benefits__heading {
  color: #FFFFFF;
}
.benefits__txt {
  color: #FFFFFF;
}

.gallery {
  margin-bottom: 9.5rem;
}
@media screen and (max-width: 768px) {
  .gallery {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .gallery {
    margin-bottom: 2rem;
  }
}
.gallery__img-container--1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gallery__img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery__heading-container {
  background-color: #1E1D1D;
  color: #FFFFFF;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
.gallery__heading {
  text-align: left;
  color: #FFFFFF;
  position: relative;
  -webkit-animation: move 8s linear 1s infinite;
          animation: move 8s linear 1s infinite;
}
@-webkit-keyframes move {
  from {
    transform: translateX(-90vw);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes move {
  from {
    transform: translateX(-90vw);
  }
  to {
    transform: translateX(100vw);
  }
}
.gallery__img-container--2 {
  position: relative;
}
.gallery__logo {
  display: none;
  position: absolute;
  left: 80%;
}

.pricing {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  margin-bottom: 9.5rem;
}
@media screen and (max-width: 992px) {
  .pricing {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .pricing {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .pricing {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .pricing {
    margin-bottom: 2rem;
  }
}
.pricing__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.pricing__card {
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #1E1D1D;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 3rem;
}
.pricing__card-img-container {
  position: relative;
}
.pricing__card-title {
  color: #1E1D1D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 180%);
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3.125rem;
  padding: 0.5rem 1.5rem;
  width: 264px;
}
.pricing__card-img {
  width: 100%;
}
.pricing__price {
  text-align: center;
}
.pricing__features {
  text-align: center;
  list-style: none;
  margin: 0rem;
  padding: 0rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.pricing__feature {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.pricing__btn-img {
  width: 30%;
}
.pricing__link {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pricing__link-img {
  width: 6rem;
  height: 6rem;
}

.cta {
  background-color: #474747;
}
.cta__container {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
@media screen and (max-width: 992px) {
  .cta__container {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .cta__container {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.cta__heading {
  color: #FFFFFF;
  line-height: 1;
}
.cta__input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  border: none;
  height: 5.5rem;
  border-top-left-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
}
.cta__input {
  width: 100%;
  box-shadow: none;
  border: none;
}
.cta__btn {
  font-size: 4rem;
  border: none;
  background-color: #FFFFFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #474747;
}
.cta__btn:hover {
  color: #501EC4;
}

::-moz-placeholder {
  font-size: 2.25rem;
  color: #474747;
  padding: 2rem;
}

:-ms-input-placeholder {
  font-size: 2.25rem;
  color: #474747;
  padding: 2rem;
}

::placeholder {
  font-size: 2.25rem;
  color: #474747;
  padding: 2rem;
}

.slideshow {
  background-color: #1E1D1D;
}
.slideshow__container {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  padding-top: 6.5rem;
  padding-bottom: 9.5rem;
}
@media screen and (max-width: 992px) {
  .slideshow__container {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .slideshow__container {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.slideshow__btns {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
.slideshow__btn {
  color: white;
  font-size: 4rem;
  cursor: pointer;
}
.slideshow__btn:hover {
  color: #501EC4;
}
.slideshow__btn:first-child:hover {
  transform: translateX(-30px);
  position: absolute;
  font-size: 10rem;
  padding-right: 4rem;
}
.slideshow__btn:first-child:active {
  transform: translateX(-50px);
}
.slideshow__btn:last-child {
  margin-left: 1rem;
}
.slideshow__btn:last-child:hover {
  transform: translateX(30px);
  position: absolute;
  font-size: 10rem;
  padding-right: 4rem;
}
.slideshow__btn:last-child:active {
  transform: translateX(50px);
}
.slideshow__images {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.slideshow__img {
  width: 100%;
  display: none;
}

.active {
  display: block;
}

.footer {
  background-color: #1E1D1D;
  color: #FFFFFF;
}
.footer__container {
  margin: 0 2rem;
  max-width: 100%;
  padding: 0rem 1rem 0rem 1rem;
  padding-bottom: 9.5rem;
}
@media screen and (max-width: 992px) {
  .footer__container {
    margin: 0 1rem;
    padding: 0rem 1rem 0rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    margin: 0 0.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.footer__logo {
  width: 100%;
  padding-bottom: 6.5rem;
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}/*# sourceMappingURL=main.css.map */