.cta{
    background-color: $cta-bg-color;

    &__container{
        @include respond-to(xl){
            padding-left: 10rem;
            padding-right: 10rem;
        }

        @include layout-container-fluid;
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
        @include flex();
    }

    &__heading{
        @include respond-to(xl){
            margin-right: 7rem;
        }
        color: $body-main-color--w;
        line-height: 1;
        margin-right: 5rem;
    }

    &__input-container{
        @include flex();
        align-self: center;
        border: none;
        height: 5.5rem;
        border-top-left-radius: .3125rem;
        border-bottom-left-radius: .3125rem;
    }

    &__input{

        width: 100%;
        box-shadow: none;
        border: none;
    }

    &__btn{
        font-size: 4rem;
        border: none;
        background-color: $cta-btn-bg-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $cta-btn-color;
    }

    &__btn:hover{
        color: $hover-active-color;
    }

}

::placeholder { 
    font-size: 2.25rem;
    color: $cta-placeholder-color;
    padding: 2rem;
}

