/// **** CTA SPECIFIC TYPOGRAPHY **** ///
$cta-font-sizes: (
  x-large:   (10rem, 9rem),     //font size: 160px  line Height: 144px
  large :    (7.5rem, 6.5rem),  //font size: 120px  line Height: 104px
  medium:    (7.5rem, 6.5rem),  //font size: 120px  line Height: 104px
  small :    (4.5rem, 4.5rem),  //font size: 72px  line Height: 72px
)!default;

@mixin cta-heading{
    font-family: $font-family;
    font-weight: $fw-black;
    color: $body-main-color--w;;
    @include font-size($cta-font-sizes);
}


/// **** CTA STYLES **** ///
.cta{
    @include cta-heading;
    background-color: $cta-bg-color;

    &__container{
        padding-left: 13rem;
        padding-right: 13rem;
        padding-top: 11rem;
        padding-bottom: 11rem;
        @include flex-justify(space-between);
    }

    &__heading{
        color: $body-main-color--w;
        line-height: 1;
        margin-right: 5rem;
    }

    &__input-container{
        @include flex-justify(space-between);
        max-width: 50rem;
        align-self: center;
        border: none;
        height: 5.5rem;
        border-top-left-radius: .3125rem;
        border-bottom-left-radius: .3125rem;
    }

    &__input{
        width: 100%;
        box-shadow: none;
        border: none;
    }

    &__btn{
        @include flex-center;
        font-size: 4rem;
        border: none;
        background-color: $cta-btn-bg-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $cta-btn-color;
    }

    &__btn:hover{
        color: $hover-active-color;
    }

    /// **** BELOW 1919PX **** ///
    &__container{
        @include respond-to(lg){
            @include layout-container-fluid;
            padding-top: 7.5rem;
            padding-bottom: 7.5rem;
        }
    }

    &__input-container{
        @include respond-to(lg){
            max-width: 40rem;
        }
    }

    /// **** BELOW 1040PX **** ///
    &__container{
        @include respond-to(md){
            flex-direction: column;
            align-items: center;
            padding-top: 7.5rem;
            padding-bottom: 7.5rem;
        }
    }

    &__heading{
        @include respond-to(md){
            align-self: flex-start;
            padding-bottom: 4rem;
            margin-right: 0rem;
        }
    }

    &__input-container{
        @include respond-to(md){
            max-width: 35.5rem;
        }
    }

    /// **** BELOW 480PX **** ///
    @include respond-to(xs){
        background-color: $cta-bg-color--b;
    }


    &__input-container{
        @include respond-to(xs){
            height: 4rem;
        }
    }
    &__btn{
        @include respond-to(xs){
            font-size: 3rem;
        }
    }
}

::placeholder { 
    font-size: 2.25rem;
    color: $cta-placeholder-color;
    padding: 2rem;
}

