.footer{
    background-color: $footer-bg-color;
    color: $body-main-color--w;

    &__container{
        @include layout-container-fluid;
        padding-bottom: 9.5rem;
    }

    &__logo{
        width: 100%;
        padding-bottom: 6.5rem;
    }

    &__nav{
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex()
    }
}