.footer{
    background-color: $footer-bg-color;
    color: $body-main-color--w;

    &__container{
        @include layout-container-fluid;
        padding-bottom: 9.5rem;
    }

    &__logo{
        width: 100%;
        padding-bottom: 6.5rem;
    }

    &__nav{
        margin: 0;
        padding: 0;
        list-style: none;
        @include flex()
    }

    &__nav-link{
        transition: all 0.3s ease;
    }

    &__nav-link:hover{
        text-decoration: underline;
        color: $hover-active-color;
    }

    &__nav-link:active{
        text-decoration: underline;
        color: $hover-active-color;
        transform: translateX(0rem) translateY(.225rem);
    }
    
}