.gallery{
    @include layout-spacing;
    
    &__img-container--1{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__img{
        width: 100%;
        @include flex-justify(space-between);
    }

    &__heading-container{
        background-color: $gallery-bg-color;
        color: $heading-color--w;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;
        overflow: hidden;
    }

    &__heading{
        text-align: left;
        color: $heading-color--w;
        position: relative;
        animation: move 8s linear 1s infinite;
    }

    @keyframes move {
        from {
          transform: translateX(-80vw);
        }
        to {
          transform: translateX(100vw);
        }
    }

    &__img-container--2{
        position: relative;
    }

    &__logo{
        display: none;
        position: absolute;
        left: 80%;
       
    }

}