/// **** PRICING SPECIFIC TYPOGRAPHY **** ///
$pricing-price-fs: (
  x-large:   (4rem, 5.5rem),     //font size: 64px  line Height: 88px
  large :    (3rem, 4rem),       //font size: 48px  line Height: 64px
  medium:    (2.25rem, 3rem),    //font size: 36px  line Height: 48px
  small:    (2.25rem, 3rem)    //font size: 36px  line Height: 48px
)!default;

$pricing-features-fs: (
  x-large:   (2rem, 3rem),       //font size: 32px  line Height: 48px
  large :    (1.4375rem, 2rem),  //font size: 23px  line Height: 32px
  medium:    (1.25rem, 2rem),    //font size: 20px  line Height: 32px
  small :    (1.25rem, 2rem)     //font size: 20px  line Height: 32px
)!default;

$pricing-card-title-fs: (
  x-large:   (1.5rem, 2rem),       //font size: 24px  line Height: 32px
  large :    (1.25rem, 2rem),       //font size: 20px  line Height: 32px
  medium:    (1.125rem, 1.5rem),    //font size: 18px  line Height: 24px
  small :    (1.125rem, 1.5rem),    //font size: 18px  line Height: 24px
)!default;


@mixin pricing($style) {
    font-family: $font-family;
    @if $style == "price--txt" {
        font-weight: $fw-bold;
        @include font-size($pricing-price-fs);
    }
  
    @else if $style == "features--txt" {
        font-weight: $fw-normal;
        @include font-size(pricing-features-fs);
      
    }
  
    @else if $style == "card--title" {
        font-weight: $fw-bold;
        @include font-size($pricing-card-title-fs);
    }
  }

// ===== Usage ===== //
.pricing__price--txt{
    @include pricing(price--txt);
  }
  
  .pricing__features--txt{
    @include pricing(features--txt);
  }
  
  .pricing__card--title{
    @include pricing(card--title);
  }


/// **** PRICING STYLES **** ///
.pricing{
    @include layout-container-fluid;
    @include layout-spacing;

    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;
    }

    &__card{
        color: $body-main-color--w;
        border-radius: 3px;
        background-color: $pricing-card-bg-color;
        padding-top: .5rem;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 3rem;
    }

    &__card-img-container{
        position: relative;
    }

    &__card-title{
        color: $body-main-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, 180% );
        text-align: center;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 3.125rem;
        padding: .5rem 1.5rem;
        width: 264px;
    }

    &__card-img{
        width: 100%;
    }

    &__price{
        text-align: center;
    }

    &__features {
        text-align: center;
        list-style: none;
        margin: 0rem;
        padding: 0rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    &__feature {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__btn-arrow{
        @include respond-to(xl){
            font-size: 5.5rem;
        }
        font-size: 3.5rem;
        margin-left: 1rem;
    }

    &__btn-arrow--lg{
        font-size: 6rem;
    }

    &__link{
        margin-top: 3rem;
        text-align: center;
        @include flex-center;
        gap: 1rem;
    }

    &__link-img{
        width: 6rem;
        height: 6rem;
    }
}
