/// **** FONT VARIABLES **** ///
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

//Font family
$font-family: 'Inter', sans-serif;

//Font Weights
$fw-light:           300;
$fw-normal:          400;
$fw-medium:          500;
$fw-semi-bold:       600;
$fw-bold:            700;
$fw-xtra-bold:       800;
$fw-black:           900;

//FONT-SIZE BREAKPOINTS [fs-breakpoints]
$font-size-breakpoints: (
  small : 480px,
  medium: 700px, 
  large : 1919px,
  x-large : 1920px
)!default;

//FONT-SIZE MAPS [fs-map]
$p-font-sizes: (
  x-large : 4.5rem, //72px
  large : 3rem,     //48px
  medium: 1.875rem, //30px
  small : 1.5rem,   //24px
)!default;


$h1-font-sizes: (
  x-large : 8rem, //128px
  large : 6rem,      //96px
  medium: 4rem,      //64px
  small : 2rem       //32px
)!default;

$h2-font-sizes: (
  large : 4rem,      //64px
  medium: 2rem,      //32px
  small : 1.5rem     //24px
)!default;


$cta-font-sizes: (
  x-large : 10rem,      //160px
  large : 7.5rem,      //120px
  medium: 7.5rem,      //120px
  small : 4.5rem       //72px
)!default;

$nav-link-font-sizes: (
  large : 4rem,      //64px
  medium: 3rem,      //48px
  small : 1.5rem     //24px
)!default;

@mixin font-size($fs-map, $fs-breakpoints: $font-size-breakpoints) {
  @each $key, $value in $fs-map { 
      @if map-has-key($fs-breakpoints, $key){
          $breakpoint: map-get($fs-breakpoints, $key);

          @if $key == x-large { 
              @media screen and (min-width: map-get($fs-breakpoints, $key)) {  font-size: $value; }                              
          }
          @else {
              @media screen and (max-width: map-get($fs-breakpoints, $key)) {  font-size: $value; }
          }
      }
 }
   
}

// ===== Usage ===== //
//@include font-size($p-font-sizes);
//@include font-size($h1-font-sizes);
//@include font-size($h2-font-sizes);
//@include font-size($h3-font-sizes);



/// **** HEADING FONT STYLES **** ///
@mixin heading-base{
    font-family: $font-family;
    font-weight: $fw-black;
    color: $heading-color;
    line-height: 1.5;
}

@mixin heading($style) {
    @if $style == "main" {
        @include heading-base;
        @include font-size($h1-font-sizes);
        text-align: center;

    }

    @else if $style == "sub" {
        @include heading-base;
        @include font-size($h2-font-sizes);
    }
}

// ===== Usage ===== //
.heading--primary{
  @include heading(main);
}

.heading--secondary{
  @include heading(sub);
}


/// **** BODY FONT STYLES **** ///
@mixin body-base{
  @include font-size($p-font-sizes);
  font-family: $font-family;
  font-weight: $fw-normal;
  line-height: 1.5;
}

@mixin body($style) {
  @if $style == "main" {
    @include body-base;
    color: $body-main-color;
  }

  @else if $style == "bold" {
    @include body-base;
    font-weight:$fw-bold;
    color: $body-main-color;
  }
}

// ===== Usage ===== //
.body--main{
  @include body(main);
}

.body--bold{
  @include body(bold);
}

/// **** OTHER FONT STYLES **** ///
@mixin font-base{
  font-family: $font-family;
  line-height: 1.5;
}

.cta__txt{
  @include font-base;
  @include font-size($cta-font-sizes);
  font-weight: $fw-black;
}

.nav__links{
  @include font-base;
  @include font-size($nav-link-font-sizes);
  font-weight: $fw-black;
}

.pricing__price--txt{
  @include respond-to(xl){
    font-size: 56px;

  }
  @include font-base;
  font-weight: $fw-bold;
  font-size: 3rem;
}

.pricing__features--txt{
  @include respond-to(xl){
    font-size: 32px;

  }
  @include font-base;
  font-size: 24px;
  font-weight: $fw-normal;
}

.pricing__card--title{
  @include font-base;
  font-weight: $fw-bold;
  font-size: 1.25rem;
}

.button__txt{
  @include respond-to(xl){
    font-size: 3.5rem;
  }
  @include font-base;
  font-weight: $fw-bold;
  font-size: 2.5rem;
}
.bold{
  font-weight: $fw-bold;
}

.underline{
  text-decoration: underline;
}

