/// **** COLORS VARIABLES  **** ///
// Descriptive naming
    $color-black:#000000;
    $color-white:#FFFFFF;
    $color-purple-heart:#501EC4;
    $color-cod-gray:#1E1D1D;
    $color-tundora:#474747;




// Functional naming 
    //Buttons
    $button-primary-color:$color-cod-gray;
    $button-primary-bg-color:$color-white;
    $button-secondary-color:$color-white;
    $button-secondary-bg-color:$color-purple-heart;

    //Font
    $heading-color: $color-cod-gray;
    $heading-color--w: $color-white;
    $body-main-color: $color-cod-gray;
    $body-main-color--w: $color-cod-gray;
    $border-color:$color-cod-gray;
    $input-placeholder:$color-tundora;

    //Cta
    $cta-bg-color:$color-tundora;

    //Slide-Show
    $slide-show-bg-color:$color-cod-gray;






